
**/Binaries/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
**/.vs/
*.sln


**/Content/_ExternalActors_/
**/Content/_ExternalObjects_/
**/Content/Characters/
**/Content/Collections/
**/Content/Developers/
**/Content/Input/
**/Content/LevelPrototyping/